//_contact.css


.contact-form-section {
    padding: 2rem 0;
    background-color: #f8f9fa;
    .container {
        max-width: 800px;
        margin: 0 auto;
        background: white;
        padding: 2rem;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
        border-radius: 8px;

        h1 {
            text-align: center;
            margin-bottom: 1.5rem;
            color: #007bff;
            font-size: 2.5rem;
            font-weight: bold;
            animation: fadeInDown 0.7s ease; //deberia entrar por arriba 
        }
    }

    form {
       @include xs { // Estilos para dispositivos móviles
            .row {
                flex-direction: column;
            }
        }

        .row {
            display: flex;
            margin: 0 -15px;

            .col-md-6 {
                padding: 0 15px;
                margin-bottom: 1rem;

                @include md  { // Estilos para dispositivos más grandes 
                    width: 50%;
                }

                @include xs{ //para mobile que ocupoe toda la pantalla
                    width: 100%;
                }
            }
        }

        .mb-3 {
            position: relative;

            label {
                display: block;
                margin-bottom: .5rem;
                color: #333;
                font-size: 1rem;
                transition: all 0.3s ease;
            }

            input[type="text"],
            input[type="email"],
            input[type="tel"],
            select,
            textarea {
                width: 100%;
                padding: 10px;
                border: 1px solid #ced4da;
                border-radius: .25rem;
                transition: border-color 0.3s ease;

                &:focus {
                    border-color: #007bff;
                    box-shadow: 0 0 8px rgba(0, 123, 255, .25);
                }
            }

            input[type="checkbox"] {
                margin-right: 5px;
            }
        }

        .btn-container {
            text-align: right;
            margin-top: 1rem;

            button {
                padding: .5rem 1rem;
                border-radius: .25rem;
                border: none;
                background-color: #007bff;
                color: white;
                cursor: pointer;
                transition: background-color 0.3s ease;

                &:hover {
                    background-color: darken(#007bff, 10%);
                }

                animation: fadeInUp 0.7s ease;
            }
        }
    }
}

// Animaciones básicas de entrada 
@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translate3d(0, -100%, 0);
    }
    to {
        opacity: 1;
        transform: none;
    }
}

//de salida para poner en el boton
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }
    to {
        opacity: 1;
        transform: none;
    }
}
